.chat{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
   
}
.conv{
    border:2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width:60vw;
    height: 80vh;
    overflow-y: scroll;

}
q{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.send-form button{
    padding: 5px;
    background-color: #748cf8;
    border:none;
    border-radius: 5px;
 
    margin: 0 auto;
    cursor: pointer;
    font-weight: bolder;
}
.send-form {
   display: flex;
   gap: 7px;
   margin-bottom: 10px;
}
.message{
    align-self: flex-end;
}