.header{
    display: flex;
    justify-content: space-between;
    font-size: calc(1rem + 1vw);
    background-color: #4b494c;
    height: 75px;
    align-items: center;
   color:white;
}
.logo{
    margin-left: 5vw;
    color:#c5dde3;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logo span{
   color:red;
   font-weight: bolder;
}
.logo:hover{
    letter-spacing: 1px;
}
.sign-out{
    
    padding: 5px;
    background-color: #748cf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color :white;
    transition: all 0.2s ease;
}
.sign-out:hover{
    background-color: #0c6178;
}
.userName{
    font-size: 1rem;
    display: flex;
    width: 85px;
    justify-content: space-between;
}
.user-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3vw;
    width: 200px;
}