.header{
    display: flex;
    justify-content: space-between;
    font-size: calc(1rem + 1vw);
    background-color: rgb(172, 0, 172);
    height: 75px;
    align-items: center;
}
.sign-out{
    padding: 5px;
    background-color: #ffbf60;
    border:black 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
.userEmail{
    font-size: 1rem;
}