@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.login{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: calc(100vh - 75px);
    width: 50vw;
    max-width: 500px;
    justify-content: center;
    gap:5vh;
    
    
}
h2{
    text-decoration: underline;
    color :#4b494c;
}

.login-button{
    padding: 5px;
    background-color: #748cf8;
    border:none;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bolder;
}
*{
    font-family: 'Poppins', sans-serif;
}
input{
    padding: 5px;
}
.p-cases{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}